@page
@model HelpDesk.Pages.Admin.Roles.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="h3 mb-2 text-gray-800">Roles</h1>
<p>
    <a asp-page="Create">Agregar nuevo Rol</a>
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista de roles activos</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" @*id="dataTable"*@ width="100%" cellspacing="0">
                <thead>
                    <tr role="row">
                        <th class="sorting sorting_asc">
                            @Html.DisplayNameFor(model => model.Rol[0].Name)
                        </th>
                        <th>
                            Nombre Normalizado
                        </th>
                        <th>
                           Sello de Concurrencia
                        </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Rol[0].Name)
                        </th>
                        <th>
                            Nombre Normalizado
                        </th>
                        <th>
                           Sello de Concurrencia
                        </th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model.Rol) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NormalizedName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
                            </td>
                            <td>
                                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                                <a asp-page="./Details" asp-route-id="@item.Id">Detalles</a> |
                                <a asp-page="./Delete" asp-route-id="@item.Id">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
